#iconsContainer {
	display: flex;
	justify-items: center;
	align-items: center;
	margin-bottom: 2rem;
}

#iconsContainer svg {
	font-size: 1.6rem;
	color: #2b2b2b;
}

#iconsContainer svg.activeIcon {
	color: #8b2564;
}
span {
	color: #2b2b2b;
}
span.activeSpan {
	font-weight: 600;
}

#identificacaoIconContainer,
#avaliacaoIconContainer,
#envioIconContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

#identificacaoIconAndLabel,
#avaliacaoIconAndLabel,
#envioIconAndLabel {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.divisorLine {
	border: 0;
	border-top: 2px solid #b1b1b1;
	width: 7vw;
}
